@charset "UTF-8";

body{
  display: flex;
  flex-wrap: wrap;
  background-color: #0F0F0F;
  font-family: Courier New, monospace;
}

a{
  text-decoration: none;
  font-size: 2vmax;
  color: black;
}

.liste-der{
  display: none;
}

.pan-der{
  cursor: pointer;
}

nav{
  display: inline-block;
  text-align: center;
  width: 100vmax;
  background-color: #F53838;
  padding: 0.5vmax;
  padding: 1vmax;
}

.lien-nav{
  margin-left: 6vmax;
  margin-right: 6vmax;
}

#centre{
  display: flex;
}

#titre{
  flex-wrap: wrap;
  height: 10vmax;
  width: 100vmax;
  padding-top: 2vmax;
  margin: .5vmax;
  text-align: center;
  font-size: 2vmax;
  color: lightgrey;
}

#affichage{
  height: 80vmax;
  padding: 1vmax;
  color: lightgrey;
  font-size: 2vmax;
}
