@charset "UTF-8";

body{
  display: flex;
  flex-wrap: wrap;
  background-color: #CCCCCC;
  font-family: Courier New, monospace;
}

a{
  text-decoration: none;
}

nav{
  display: flex;
  width: 20vmax;
  background-color: #F03838;
  padding: 0.5vmax;
  padding: 1vmax;
}

#centre{
  display: flex;
}

#titre{
  flex-wrap: wrap;
  height: 14vmax;
  width: 100vmax;
  padding-top: 2vmax;
  padding-left: 6vmax;
  background-color: #F03838;
  margin: .5vmax;
}

#affichage{
  display: flex;
  width: 80vmax;
  height: 80vmax;
  padding: 1vmax;
}
